[Unit]
Description=SENG302 Test Server service

[Service]
Type=simple
Restart=always
RestartSec=10
User=gitlab-runner
WorkingDirectory=/home/gitlab-runner
ExecStart=/bin/bash runTestServer.sh

[Install]
WantedBy=multi-user.target
