[Unit]
Description=SENG302 Test Client service

[Service]
Type=simple
Restart=always
RestartSec=10
User=gitlab-runner
WorkingDirectory=/home/gitlab-runner
ExecStart=/bin/bash runTestClient.sh

[Install]
WantedBy=multi-user.target
